################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GraphQL_HotChocolate/GraphQL_HotChocolate/GraphQL_HotChocolate.csproj
